.turbolinks-progress-bar {
  visibility: hidden;
}

/* Fonts */
@font-face {
  font-family: "SharpSansDispNo2";
  src: url("/fonts/SharpSansDispNo2-Bold.ttf");
}

@font-face {
  font-family: "Muli-Bold";
  src: url("/fonts/Muli-Bold.ttf");
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("/fonts/Muli-ExtraBold.ttf");
}

@font-face {
  font-family: "Muli-Regular";
  src: url("/fonts/Muli-Regular.ttf");
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish.ttf");
}

/* General Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Muli-Regular !important;
  background-color: #ffffff;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}

.navbar-fixed-top {
  max-width: 100%;
  top: 40px;
  left: 120px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin: 0 40px;
  border: 1px solid #000000;
}

.navbar-header {
  height: 26px;
  top: 44px;
  left: 120px;

}

@media only screen and (min-width: 768px) {
  .navbar-premium-mobile {
    display: none;
  }

  .mobile {
    display: none !important;
  }

  .border-line {
    width: 1440px;
    padding: 0px 100px 0 130px;
  }

  .search-container: {
    max-width: 900px;
  }

  .bottom-footer .social-icons a {
    margin: 10px;
  }

  .sub-inline-list a {
    padding: 0 35px 0 0;

  }

  .search-container {
    height: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-premium-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar-brand img {
    margin-left: -20px;
  }

  .navbar-signin-mobile {
    color: black;
  }

  .navbar-brand-mobile {
    margin: 50px;
  }

  .navbar-brand {
    padding: 15px 0 !important;
  }

  .navbar-border-bottom {
    text-decoration: underline;
    text-decoration-color: #00355f;
    text-decoration-thickness: 4px;
    font-weight: 700;

  }

  .sub-inline-list li {
    text-decoration: none;
  }

  .relative-container {
    max-width: 100% !important;
  }

}

.navbar-brand {
  max-width: 100%;

}

.navbar-brand img {
  max-width: 100%;
  vertical-align: start;
}

.navbar-brand mobile {}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  max-width: 1440px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-nav a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar-nav li a {
  color: black;
}

.navbar-left {
  margin-right: auto;
  align: 10px;
}

.navbar-left li {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right li {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.navbar-right li img {
  margin-right: 5px;
}

.btn-premium {
  padding: 8px 20px;
  background-color: #fdb913;
  color: black !important;
  border-radius: 4px;
}

/* Styles for the "For Job Seeker" link */
.job-seeker-link {
  font-weight: bold;
  text-decoration: none;
  position: relative;
  color: #fff;
}

.job-seeker-link::after {
  content: '';
  display: block;
  max-width: 100%;
  height: 4px;
  background-color: #00355f;
  position: absolute;
  left: 0;
  bottom: -4px;
  margin-bottom: 4px;
  width: 130px;
}  

.navbar-border-bottom {
  text-decoration: none;
  font-weight: 600;
}

.container {
  max-width: 1440px !important;
  margin-left: 120px;
  padding: 0 15px;
  
}

.border-line {
  width: 100%;
  left: 120px;
  opacity: 1;
  line-height: 50px;
  margin-left: 10px;
}

.btn-premium {
  padding: 8px 20px;
  background-color: #fdb913;
  color: black !important;
  border-radius: 4px;
}

.btn-premium:hover {
  background-color: #fdb913;
}

.sub-inline-list {
  list-style: none;
  padding-left: 5px;

}

.sub-inline-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  list-style: none;
  flex-direction: row;
  display: inline-block;
  margin-right: 15px;
}

.sub-inline-list a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.nav-border-bottom {
  text-decoration: underline;
  text-decoration-color: #00355f;
  text-decoration-thickness: 4px;
  font-weight: 600;
}

/* Main Heading */
.main-heading {
  max-width: 635px;
  width: 100%;
  height: 176px;
  font-family: Sharp Sans Display No2;
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
  text-align: left;


}

/* Search Engine */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  max-width: 955px;
  margin: 20x auto;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 8px 16px 0px rgba(127, 106, 255, 0.3);
  margin-bottom: 50px;

}

.search-section {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-image {
  max-width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 20px;

}

.search-title {
  flex: 1;
  max-width: 100%;
  height: 20px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #231f20;
  border: none;
  outline: none;
}

.vl {
  width: 1px;
  height: 35px;
  margin: 0 30px 0 0;
  opacity: 0.3;
  background: #000;

}

.country-select {
  display: flex;
  align-items: center;

}

.country-select img {
  max-width: 25px;
  height: 15px;
  margin-right: 5px;
}

.country-select select {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  background: white;
}

.find-jobs-btn {
  width: 100%;
  height: 55px;
  padding: 12px 20px;
  background: var(--Employer-Blue, #00355F);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.relative-container {
  position: relative;
  width: 100%;
  max-width: 180px;
}

.additional-element {
  position: absolute;
  width: 8px;
  height: 40px;
  top: calc(50% - 20px);
  right: -4px;
  background: red;
  opacity: 1;
}


/* Box-Content */

.box {
  display: flex;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

.box-content {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.box-image {
  max-width: 48px;
  height: 52px;
  margin-right: 20px;
}

.box-image img {
  max-width: 100%;
  height: auto;
}

.box-text {
  flex: 1;
}

.box-text h3 {
  max-width: 101px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: Sharp Sans Display No2 - Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;

}

.box-text p {
  max-width: 298px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

}

/* How Are We Different Section */
.how-are {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
}

.how-are h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00355f;
}

.how-are p {
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  display: flex;
  align-items: center;
}

.how-are p .cta-text {
  margin-right: 10px;
  text-decoration: underline;
}

.how-are p img {
  margin-left: 10px;
}

.background-image {
  position: relative;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.background-image img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* Footer */
footer {
  max-width: 100%;
  height: auto;
  top: 1013px;
  gap: 0px;
  opacity: 0px;

}

.main-footer {

  height: 519px;
  gap: 0px;
  opacity: 0px;
  background: #FFFFFF;

}

.main-footer h4 {
  color: var(--Employer-Blue, #00355F);
  font-family: Muli-Bold;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}

.main-footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-footer li a {
  color: #808080;
  font-family: Muli-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-item {
  margin-bottom: 20px;
}

.y-addr span,
.y-addr a {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #808080;
}

.bottom-footer {
  background: #f6f8fa;
  padding: 20px 0;
  text-align: center;
  padding-bottom: 30px;
}

.bottom-footer .container {
  max-width: 1680px;
  height: 118px;
  top: 519px;
  gap: 0px;
  opacity: 0px;

}

.bottom-footer .col-sm-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom-footer .list-inline {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  text-align: left;

}

.bottom-footer .list-inline li {
  display: inline-block;
  margin-right: 10px;

}

.bottom-footer .list-inline li a {
  color: #231F20;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  text-decoration: none;

}

.bottom-footer .c-rights {
  color: #828282;
  font-family: Mulish;
  font-size: 14px;
  margin-top: 10px;
  max-width: 414px;
  height: 18px;
  top: 587px;
  left: 120px;
  gap: 0px;
  opacity: 0px;
  line-height: 17.92px;

}

.bottom-footer .social-icons {
  max-width: Hug (292px)px;
  height: Hug (64px)px;
  top: 546px;
  left: 1278px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  opacity: 0px;

}

.bottom-footer .social-icons a {
  max-width: 70px;
  height: 64px;
  gap: 0px;
  opacity: 0px;
  color: #000;
  font-size: 28px;
}

/* Responsive Design */
/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 5px 0;
  }


  .navbar-fixed-top {
    margin-left: 0 !important;
   
  }

  .navbar-fixed-top {
    border-color: rgba(149, 153, 162, 0.4);
    border-style: solid;
    border-bottom-max-width: 1px;
    background-color: var(--White, #fff);
    display: flex;
    gap: 20px;
    line-height: 128%;
    justify-content: space-between;
    /* padding: 16px; */
  }

  .navbar-brand {
    aspect-ratio: 5.88;
    object-fit: auto;
    object-position: center;
    max-width: 121px;
    max-max-width: 100%;
    margin: auto 0;
  }

  .navbar-bottom-border {
    border-bottom: 2px solid #000; 
  }

  .navbar-premium-mobile {
    white-space: nowrap;
    padding: 0 20px;
    margin-right: 10px;
  }

  .navbar-premium-mobile a {
    margin-right: 10px;
  }

  .navbar-collapse {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .btn-premium {
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Yellow, #fdb913);
    align-self: stretch;
    color: var(--Black-Grey, #231f20);
    padding: 7px 12px;
    font: 700 12px Sharp Sans Display No2, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .navbar-collapse {
    background-color: var(--Light-Grey, #f6f8fa);
    display: flex;
    max-width: 100%;
    padding-right: 20px;
    gap: 20px;
    font-size: 14px;
    color: #000;
    text-align: center;
  }

  .navbar-nav li a {
    font-family: Mulish, sans-serif;
    font-weight: 400;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }

  .sub-inline-list {
    display: flex;
    gap: 16px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
  }

  .sub-inline-list a {
    font-family: Mulish, sans-serif;
    font-weight: 0;
  }

  .main-heading {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    margin-top: 50px;
    font: 700 32px/44px Sharp Sans Display No2, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .find-jobs-btn {
    max-width: 100% !important;
    width: 100%;

  }

  .search-container {
    align-items: start;
    box-shadow: none;
    border: none;
    /* border-style: solid; */
    /* background-color: var(--White, #fff); */
    display: flex;
    margin-top: 28px;
    /* max-width: 346px; */
    max-max-width: 100%;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    padding: 0;
  }

  .search-section {
    display: flex;
    gap: 16px;
    width: 100%;
    padding: 14px 16px;
    box-shadow: 0px 8px 16px 0px #7F6AFF4D;
    border: 1px solid #E2E2E2;
  }

  .search-image {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    max-width: 24px;
    eight: 30px;
    margin-right: 10px;
    margin-left: 0px;
    width: 24px;
    height: 24px;
  }

  .search-title {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Mulish, sans-serif;
    margin: auto 0;
  }

  .vl {
    display: none;
  }

  .main-footer {
    height: auto !important;
  }

  .country-select {
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(127, 106, 255, 0.3);
    border-color: rgba(226, 226, 226, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--White, #fff);
    display: flex;
    margin-top: 8px;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    padding: 12px 26px;
  }

  .country-select img {
    aspect-ratio: 2;
    object-fit: auto;
    object-position: center;
    max-width: 24px;
  }

  .country-select select {
    width: 100%;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Mulish, sans-serif;
    margin: auto 0;
  }


  .find-jobs-botton {
    font-family: Mulish, sans-serif;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.04);
    border-color: rgba(222, 223, 227, 1);
    border-style: solid;
    border-max-width: 1px;
    background-color: var(--Employer-Blue, #00355f);
    flex-grow: 1;
    max-width: fit-content;
    padding: 7px 11px;
  }

  .additional-elements {
    background-color: #e44126;
    align-self: start;
    margin-top: 8px;
    max-width: 6px;
    height: 32px;
  }

  .box-content {
    align-self: center;
    display: flex;
    margin-top: 24px;
    max-width: 100%;
    max-max-width: 326px;
    gap: 20px;
    justify-content: space-between;
  }

  .navbar-left li {
    width: 100%;
  }

  .box-image {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    max-width: 32px;
    margin: auto 0;
  }

  .box-text {
    display: flex;
    flex-direction: column;
  }

  .box-text h3 {
    font-feature-settings: "clig" off, "liga" off;
    font: 700 16px/150% Sharp Sans Display No2, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .box-text p {
    font-feature-settings: "clig" off, "liga" off;
    margin-top: 6px;
    font: 400 14px/16px Mulish, sans-serif;
  }

  .how-are {
    display: flex;
    flex-direction: column;
    mix-blend-mode: multiply;
    overflow: hidden;
    position: relative;
    aspect-ratio: 3;
    margin-top: -15px;
    align-items: start;
    gap: 9px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 150%;

  }

  .background-img {
    position: absolute;
    inset: 0;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;

  }

  .cha-text {
    position: relative;
    font-family: Mulish, sans-serif;
    text-decoration-line: underline;
    margin-top: 5px;
    flex-grow: 1;
  }

  .how-are p img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    max-width: 24px;
  }

  .footer {
    background-color: var(--White, #fff);
    display: flex;
    max-width: 1680px;
    height: 637px;
    top: 1013px;
    padding-top: 48px;
    flex-direction: column;
    align-items: start;
    margin-left: 50px
  }

  .main-footer ul {
    color: var(--Medium-Grey, #828282);
    /* margin-left: 25px; */
    font: 700 14px/28px Mulish, sans-serif;
  }

  .bottom-footer {
    background-color: #f6f8fa;
    align-self: stretch;
    display: flex;
    margin-top: 32px;
    max-width: 100%;
    flex-direction: column;
    padding: 36px 32px;
    height: 100%;
  }

  .bottom-footer .list-inline {
    color: var(--Black-Grey, #231f20);
    font: 700 14px/32px Mulish, sans-serif;
  }

  .bottom-footer .c-rights {
    color: var(--Medium-Grey, #828282);
    margin-top: 16px;
    font: 400 14px/18px Mulish, sans-serif;
  }

  .bottom-footer .social-icons {
    justify-content: center;
    display: flex;
    margin-top: 32px;
    padding-right: 63px;
    gap: 20px;
  }

  .bottom-footer .social-icons a {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    max-width: 44px;
    background-color: var(--White, #fff);
    border-radius: 50%;
    height: 44px;
  }
}